:root {
  --vod-font-family: SF Pro, San Francisco, Arial, sans-serif;

  --vod-font-size-xs: 10px;
  --vod-font-size-sm: 12px;
  --vod-font-size-md: 14px;
  --vod-font-size-rg: 16px;
  --vod-font-size-lg: 18px;
  --vod-font-size-xl: 20px;

  --vod-line-height-sm: 1.0;
  --vod-line-height-md: 1.2;
  --vod-line-height-rg: 1.5;
  --vod-line-height-lg: 1.8;

  --vod-color-1st: #ffdd00; /* primary color */
  --vod-color-2nd: #33bb00;
  --vod-color-3rd: #ff3300;
  --vod-color-4th: #ff6600;
  --vod-color-5th: #ff9900;
  --vod-color-6th: #eae2b7;
  --vod-color-7th: #B8BB24;

  --vod-gray-1st: #333333;
  --vod-gray-2nd: #444444;
  --vod-gray-3rd: #555555;
  --vod-gray-4th: #666666;
  --vod-gray-5th: #777777;
  --vod-gray-6th: #888888;
  --vod-gray-7th: #999999;

  --vod-white: #ffffff;
  --vod-black: #000000;
  --vod-red: #ff0000;
  --vod-green: #00ff00;
  --vod-blue: #0000ff;

  --vod-text-color-1st: #121212;
  --vod-text-color-2nd: #161616;
  --vod-text-color-3rd: #5c5c5c;
  --vod-text-color-4th: #adb7be;
  --vod-text-color-5th: #ebebeb;
  --vod-text-color-6th: #e8e8e8;
  --vod-text-color-7th: #fff;

  --vod-background-color-1st-rgb: 22, 24, 34;

  --vod-background-color-1st: #161822;
  --vod-background-color-2nd: #181818;
  --vod-background-color-3rd: #1d1c1e;
  --vod-background-color-4th: #262626;
  --vod-background-color-5th: #393a43;
  --vod-background-color-6th: #efefef;
  --vod-background-color-7th: #f9f9f9;

  --vod-border-color-1st: #fff;
  --vod-border-color-2nd: #fff;
  --vod-border-color-3rd: #fff;
  --vod-border-color-4th: #fff;
  --vod-border-color-5th: #fff;
  --vod-border-color-6th: #fff;
  --vod-border-color-7th: #fff;

  --vod-border-width-1st: 1px;
  --vod-border-width-2nd: 2px;
  --vod-border-width-3rd: 3px;
  --vod-border-width-4th: 4px;

  --vod-radius-sm: 2px;
  --vod-radius-md: 4px;
  --vod-radius-rg: 8px;
  --vod-radius-lg: 16px;
  --vod-radius-max: 999px;

  --vod-spacing-xs: 4px;
  --vod-spacing-sm: 8px;
  --vod-spacing-md: 12px;
  --vod-spacing-rg: 16px;
  --vod-spacing-lg: 20px;
  --vod-spacing-xl: 24px;
  --vod-spacing-xxl: 28px;
  --vod-spacing-xxxl: 32px;

  --vod-warn-color: #ff976a;
  --vod-danger-color: #ee0a24;
  --vod-success-color: #07c160;
  --vod-failure-color: #a4a4a4;
}

:root:root {
  --vod-nav-bar-background: var(--vod-background-color-1st);
  --vod-nav-bar-text-color: var(--vod-white);

  --vod-tabbar-item-font-size: 13px;
  --vod-tabbar-item-icon-size: 24px;
  --vod-tabbar-item-text-color: var(--vod-text-color-4th);
  --vod-tabbar-item-background: var(--vod-background-color-1st);
  --vod-tabbar-item-active-text-color: var(--vod-color-1st);
  --vod-tabbar-item-active-background: var(--vod-background-color-1st);

  --vod-tab-text-color: var(--vod-text-color-4th);
  --vod-tab-active-text-color: var(--vod-color-1st);
  --vod-tab-disabled-text-color: var(--vod-text-color-3rd);
  --vod-tabs-bottom-bar-color: var(--vod-color-1st);
  --vod-tabs-background: var(--vod-background-color-1st);

  --vod-button-text-color-primary: var(--vod-text-color-1st);
  --vod-button-background-primary: var(--vod-color-1st);
  --vod-button-border-primary: var(--vod-border-width-1st) solid var(--vod-color-1st);

  --vod-tag-background-1st: linear-gradient(135deg, var(--vod-color-1st) 0%, var(--vod-color-1st) 100%);
  --vod-tag-text-color-1st: var(--vod-text-color-1st);
  --vod-tag-background-2nd: linear-gradient(135deg, var(--vod-color-2nd) 0%, var(--vod-color-2nd) 100%);
  --vod-tag-text-color-2nd: var(--vod-white);
  --vod-tag-background-3rd: linear-gradient(135deg, var(--vod-color-7th) 0%, var(--vod-green) 100%);
  --vod-tag-text-color-3rd: var(--vod-white);
  --vod-tag-background-4th: linear-gradient(to right, #eae2b7, #eae2b7);
  --vod-tag-text-color-4th: var(--vod-text-color-2nd);

  --vod-tag-bottom-background-1st: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.8) 100%);

  --vod-input-border: var(--vod-border-width-2nd) solid var(--vod-gray-4th);
  --vod-input-border-focus: var(--vod-border-width-2nd) solid var(--vod-text-color-4th);

  --vod-linear-gradient-bg-mask: linear-gradient(to bottom, rgba(var(--vod-background-color-1st-rgb), 0.0) 0%, rgba(var(--vod-background-color-1st-rgb), 1.0) 100%);

  --vod-timeline-item-tag-background: var(--vod-color-1st);
  --vod-timeline-item-tag-text-color: var(--vod-text-color-1st);

  --vod-live-playing-background: var(--vod-color-1st);
  --vod-live-playing-text-color: var(--vod-text-color-1st);
  --vod-live-playing-icon-color: var(--vod-text-color-1st);
  --vod-live-ended-background: var(--vod-text-color-5th);
  --vod-live-ended-text-color: var(--vod-gray-4th);
  --vod-live-ended-icon-color: var(--vod-gray-6th);
}

:root:root {
  --van-primary-color: var(--vod-color-1st);

  --van-button-primary-color: var(--vod-text-color-1st);
  --van-button-primary-border-color: var(--vod-color-1st);
  --van-button-primary-background: var(--vod-color-1st);
  --van-button-default-color: var(--vod-text-color-4th);
  --van-button-default-border-color: var(--vod-background-color-5th);
  --van-button-default-background: var(--vod-background-color-5th);
  --van-button-default-height: 40px;
  --van-button-radius: 4px;

  --van-tag-primary-color: var(--vod-color-1st);
  --van-tag-text-color: var(--vod-text-color-1st);

  --van-cell-vertical-padding: 0.75rem;
  --van-cell-horizontal-padding: 0.75rem;
  --van-cell-right-icon-color: var(--vod-text-color-5th);

  --van-switch-background: var(--vod-text-color-4th);
  --van-switch-on-background: var(--vod-color-1st);

  --van-tabbar-item-icon-size: 24px;
  --van-tabbar-item-icon-margin-bottom: 2px;
  --van-tabbar-background: var(--vod-background-color-1st);
  --van-tabbar-item-active-background: var(--vod-background-color-1st);

  --van-back-top-text-color: var(--vod-text-color-1st);
  --van-back-top-background: var(--vod-color-1st);

  --van-nav-bar-icon-color: var(--vod-text-color-1st);
  --van-nav-bar-text-color: var(--vod-text-color-1st);
  --van-nav-bar-background: var(--vod-background-color-1st);
  --van-nav-bar-icon-color: var(--vod-text-color-6th);
  --van-nav-bar-text-color: var(--vod-text-color-6th);
  --van-nav-bar-title-text-color: var(--vod-text-color-6th);

  --van-tab-text-color: var(--vod-text-color-4th);
  --van-tab-active-text-color: var(--vod-text-color-6th);
  --van-tab-font-size: 1rem;
  --van-tabs-nav-background: var(--vod-background-color-1st);

  --van-popup-background: var(--vod-background-color-1st);
  --van-popup-close-icon-color: var(--vod-text-color-6th);

  --van-search-action-text-color: var(--vod-text-color-4th);

  --van-field-clear-icon-color: var(--vod-text-color-4th);
  --van-field-input-text-color: var(--vod-text-color-4th);
  --van-field-placeholder-text-color: var(--vod-text-color-3rd);

  --van-cell-value-color: var(--vod-text-color-4th);
  --van-cell-background: var(--vod-background-color-1st);

  --van-list-text-color: var(--vod-text-color-3rd);
}